body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    margin: 10px;
}

input[type="text"] {
    border: 0;
    border-bottom: 5px solid #CCC;  
    transition: all 0.5s;  
    width: 400px;
    text-align: center;
}

input[type="text"]:focus {
    outline: none;
    border-color: #DD0048;
    padding: 5px;
}

input[type="submit"] {
    background: #009688;
    border: #009688;
    outline: none;
    color: #FFF;
    width: 180px;
    padding: 7px;
    font-weight: bold;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex: 1;
}